<form action="/skills" method="post">
  <p>Enter a new skill:</p>
  <input type="text" name="skill[name]"  id="skill-name"><br/>
  <textarea id="skill-status" name="skill[status]"></textarea><br/>
  <input type="submit" value="Create Skill">
</form>
